/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* NAV BAR */
nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: 40px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: white;
    padding: 12px 18px;
    border-radius: 50%;
    margin-right: 30px;
}
/* END NAV BAR */
 

/* BLOCK SHOES CONTAINER */
.wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
}

/* FIRST SHOE BACKGROUND COLOR */
.wrapper.first-shoe {
    background-color: red;
}

/* SECOND SHOE BACKGROUND COLOR */
.wrapper.second-shoe {
    background-color: green;  
}

/* THIRD SHOE BACKGROUND COLOR */
.wrapper.third-shoe {
    background-color: yellow; 
}

/* CENTRATURA ORIZZONTALE E VERTICALE DEGLI ELEMENTI (SCARPA + SCRITTA) */
.item-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SHOE IMAGE */
.shoe-image-container {
    width: 700px;
    height: auto;
}

/* SHOE TEXT */
.shoe-text-container {
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: yellow;
    text-align: center;
}

/* THIRD SHOE DIFFERENT COLOR */
.shoe-text-container.third {
    color: green;
}

/* END */


